<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'style/style_contacto.css'%}">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{% static 'image/headerHG_green.jpg'%}" alt="" width="500px" height="100px">
        <button class="atras" onclick="history.back()">Volver</button>
    </header>
        <main>
            <section>
                <fieldset>
                    <h3 class="logintitle">Contacte con nosotros</h3>
                    <form class="formulario" id="myform" action="mensaje" method="post">
                        {% csrf_token %}
                        <div class="campo_nombre">
                            <label>Nombre:</label>
                            <input class="form_text" id="nombre" type="text" name="txtnombre" placeholder="Introducir nombre">
                        </div>
                        <div class="campo_correo">
                            <label>Correo:</label>
                            <input class="form_text" id="email" type="email" name="txtemail" placeholder="Introducir correo">
                        </div>
                        <div class="campo_telefono">
                            <label>Telefono:</label>
                            <input class="form_text" id="telefono" type="tel" name="txttelf" placeholder="Introducir telefono">
                        </div>
                        <div class="campo_mensaje">
                            <label>Mensaje:</label>
                            <textarea class="form_message" id="mimensage" name="txtmessage" rows="5" cols="45" maxlength="150" placeholder="Escribe aquí tu comentario..."></textarea>
                        </div>
                        <div class="button">
                            <input class="form_submit" type="submit" name="Registrar" value="Enviar">
                        </div>
                    </form>
                </fieldset>
            </section>
        </main>
    <footer class="foot">
        <div class="derechos">
            <p>© 2024 HookedGames. Todos los derechos reservados.</p>
        </div>
    </footer>
<script src="{% static 'js/validacionmensaje.js'%}"></script>
</body>
</html>