<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'style/style_stock.css'%}">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5500/index.html">
            <img class="imgheader" src="{% static 'image/logo_empleados.png'%}" alt="" width="100px" height="100px">
        </a>
        <h1 class="titulo">Gestión de almacenes</h1>
        <button class="atras" onclick="history.back()">Volver</button>
    </header>
        <main>
            <div>
                <div class="menu">
                    <a class="button" href="#" data-form="form1">Buscar Stock</a>
                    <a class="button" href="#" data-form="form2">Modificar Stock</a>
                    <a class="button" href="#" data-form="form3">Ver Stock completo</a>
                </div>
                <div class="formulario">
                    <!--Aqui se cargará el formulario que mande el js -->
                    
                </div>
            </div>
        </main>
    <footer class="foot">
        <div class="derechos">
            <p>© 2024 HookedGames. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{% static 'js/stock.js'%}"></script>

</body>
</html>