<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'style/style_login.css'%}">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="titulo" src="{% static 'image/headerHG_green.jpg' %}" alt="" width="500px" height="100px">
        <button class="atras" onclick="history.back()">Volver</button>
    </header>
        <main>
            <section class="formulario">
                <fieldset>
                    <h3 class="logintitle">Iniciar sesión para continuar</h3>
                    <form action="catalogo" method="post">
                        {% csrf_token %}
                        <div class="campo">
                            <label>Correo:</label>
                            <input class="form_text" type="text" name="txtemail" placeholder="Introducir correo">
                        </div>
                        <div class="campo">
                            <label>Contraseña:</label>
                            <input class="form_text" type="text" name="txtpass" placeholder="Introducir contraseña">
                        </div>
                        <div class="campo">
                            <input class="form_submit" type="submit" name="Iniciar sesión" value="Iniciar sesión">
                            <a class="form_regis" href="registro">Registrarse</a>
                        </div>
                        {% if mensaje %}
                        <h5>{{mensaje}}</h5>
                        {% endif %}
                    </form>
                </fieldset>
            </section>
        </main>
    <footer class="foot">
        <div class="derechos">
            <p>© 2024 HookedGames. Todos los derechos reservados.</p>
        </div>
        <div class="enlaces">
            <a class="enlaces_footer" href="{% url 'contacto' %}">Contacte con nosotros</a>
        </div>
    </footer>
</body>
</html>