<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'style/style_loginempleados.css'%}">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5500/index.html">
            <img class="imgheader" src="{% static 'image/logo_empleados.png'%}" alt="" width="100px" height="100px">
        </a>
        <h1 class="titulo">Portal del empleado</h1>
        <button class="atras" onclick="history.back()">Volver</button>
    </header>
        <main>
            <section class="formulario">
                <fieldset>
                    <h3 class="logintitle">Iniciar sesión</h3>
                    <form action="menuempleados" method="post">
                        {% csrf_token %}
                        <div class="campo">
                            <label>Número empleado:</label>
                            <input class="form_text" type="text" name="txtuser" placeholder="Introducir número">
                        </div>
                        <div class="campo">
                            <label>Contraseña:</label>
                            <input class="form_text" type="text" name="txtpass" placeholder="Introducir contraseña">
                        </div>
                        <div class="campo">
                            <input class="form_submit" type="submit" name="Iniciar sesión" value="Iniciar sesión">
                        </div>
                    </form>
                </fieldset>
            </section>
        </main>
    <footer class="foot">
        <div class="derechos">
            <p>© 2024 HookedGames. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>